body {
    background-image: url('https://freerangestock.com/sample/119517/flat-lay-of-a-vintage-camera-and-spectacles-on-a-weathered-wooden-tabletop.jpg');
    font-family: 'Cutive Mono', monospace;
    background-size: contain;
    background-color: rgba(73, 142, 163, 0.795);
}

.header {
    text-align: center;
    background-color: rgba(73, 142, 163, 0.795);
    padding: 10px;
    font-size: 25px;
    border: 2px outset rgba(73, 142, 163, 0.795);
    font-family: 'Special Elite', cursive;

}
h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
}

.entryLog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.singleEntry {
    flex-basis: 40%;
}

#journalEntries {
    margin-top: 50px;
    font-size: 40px;
}

fieldset {
    margin: 15px auto;
    font-size: 20px;
    background-color: rgba(201, 145, 61, 0.747);
    border: 2px outset rgba(201, 145, 61, 0.747);
}

input {
    width: 100%;
    height: 25px;
    font-size: 15px;
    background-color: white;
}

textarea {
    width: 100%;
    height: 50px;
    font-size: 15px;
}

button {
    padding: 4px 20px;
    font-size: 20px;
    background-color: rgba(201, 145, 61, 0.747);
    border-radius: 30px;
    font-family: 'Cutive Mono', monospace;
}

section {
    margin: 20px auto;
    border: 2px outset rgba(220, 220, 220, 0.781);
    padding: 10px;
    background-color: rgba(220, 220, 220, 0.781);
    text-align: center;
}

select {
    width: 100%;
    height: 35px;
    font-size: 15px;
    background-color: white;
}

#radioContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#radioButtons input {
    width: 10%;
}

#radioButtons div {
    flex-basis: 40%;
}

#filterElements {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    flex-wrap: wrap;
}

#filterElements > #allRadioButtons, #filterElements > #searchInput {
    flex-basis: 45%;
}

#buttonContainer {
    text-align: center;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.details > p {
    flex-basis: 22%;
    text-align: center;
}

#searchInputField {
    background-color: white;
}
